<h1>Shorten your link</h1>

<form method="POST" action="/links">
	<input type="url" name="link" placeholder="Copy and paste a link">
	<button class="btn btn-primary">Submit</button>
</form>

<a href="/links" class="btn btn-danger">All shorten links</a>


